<ion-header>
    <ion-navbar color="primary">
        <ion-buttons>
            <button ion-button (click)="addCancel()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>Add Ask</ion-title>
        <ion-buttons end>
            <button ion-button (click)="addDetails()" [disabled]="addAskForm.status == 'INVALID'">
                Next
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    
    <form [formGroup]="addAskForm">
        <mbsc-form [options]="formSettings">
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Company, Stations, and Closing Date</div>
                <mbsc-input type="text" (click)="selectCompany()" [disabled]="true" icon="office" icon-align="left" [value]="addAskForm.controls['company'].value.companyName"
                    placeholder="Required">
                    Company
                    <span class="temp mbsc-ic mbsc-ic-ion-ios7-search"></span>
                </mbsc-input>

                <label>Stations
                    <select formControlName="stations" data-icon="tv" mbsc-select [mbsc-options]="stationSettings">
                        <option *ngFor="let station of (sharedService.marketStations$ | async)" [value]="station.stationId">{{station.stationName}}</option>
                    </select>
                </label>
                <label>Closing Date
                        <input id="askCloseDate" mbsc-calendar [mbsc-options]="closeDateSettings" data-icon="calendar" formControlName="closeDate" />
                 </label>
            </div>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Amount, Months, And Probability</div>
                <label>Amount<span id="askAmountLabel" [hidden]="!addAskForm.controls['amount'].value">$</span>
                    <input id="askAmount" formControlName="amount" data-icon="fa-money" mbsc-numpad [mbsc-options]="numpadSettings" placeholder="Required" />
                </label>
                <mbsc-stepper class="monthsStepper" formControlName="months" val="left" min="1" max="24" step="1">
                    <span class="mbsc-ic mbsc-ic-calendar2 sliderMonths"></span> Months
                </mbsc-stepper>
                <!-- <div formControlName="months" [mbsc-options]="monthsSettings" mbsc-numpad #mbscNumpad="mobiscroll"></div> -->
                <label class="mbsc-stepper-cont mbsc-control-w mbsc-stepper-val-left">
                    <span class="mbsc-ic mbsc-ic-fa-percent sliderMonths"></span> Probability
                    <span class="mbsc-segmented mbsc-stepper">
                        <div class="probText" [ngClass]="{'probInputWonText': addAskForm.controls['probability'].value === 'Won', 'probInputLostText': addAskForm.controls['probability'].value === 'Lost'}">{{addAskForm.controls['probability'].value}}<span id="probabilityPercenttwo" [hidden]="addAskForm.controls['probability'].value === 'Won' || addAskForm.controls['probability'].value === 'Lost'">%</span></div>
                            <span class="mbsc-segmented-item">
                                <span class="mbsc-segmented-content"></span>
                            </span>
                            <span class="mbsc-segmented-item mbsc-stepper-control mbsc-stepper-minus" [ngClass]="{'mbsc-step-disabled': addAskForm.controls['probability'].value === 'Lost'}" tabindex="0" (click)="decreaseProbability()">
                                <span class="mbsc-segmented-content">
                                    <span class="mbsc-ic mbsc-ic-minus"></span>
                                </span>
                            </span>
                            <span class="mbsc-segmented-item mbsc-stepper-control mbsc-stepper-plus" [ngClass]="{'mbsc-step-disabled': addAskForm.controls['probability'].value === 'Won'}" tabindex="0" (click)="increaseProbability()">
                                <span class="mbsc-segmented-content">
                                    <span class="mbsc-ic mbsc-ic-plus"></span>
                                </span>
                            </span>
                    </span>
                </label>
                <!-- <label>Probability
                    <input id="probability" disabled=true data-icon="fa-percent" icon-align="left" [ngClass]="{'probInputWonText': addAskForm.controls['probability'].value === 'Won', 'probInputLostText': addAskForm.controls['probability'].value === 'Lost'}" mbsc-input formControlName="probability" />
                    <span id="probabilityPercent" [hidden]="addAskForm.controls['probability'].value === 'Won' || addAskForm.controls['probability'].value === 'Lost'">%</span>
                    <mbsc-button id="minus" [ngClass]="{'probButtonDisabled': addAskForm.controls['probability'].value === 'Lost'}" icon="minus" [disabled]="addAskForm.controls['probability'].value === 'Lost'" (click)="decreaseProbability()"></mbsc-button>
                    <mbsc-button id="plus" [ngClass]="{'probButtonDisabled': addAskForm.controls['probability'].value === 'Won'}" icon="plus"  [disabled]="addAskForm.controls['probability'].value === 'Won'"(click)="increaseProbability()"></mbsc-button>
                </label> -->
            </div>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Title And Notes</div>
                <mbsc-input formControlName="title" type="text" icon="pencil2" icon-align="left" placeholder="Optional">Title</mbsc-input>
                <mbsc-textarea formControlName="notes" icon="notebook" icon-align="left" placeholder="Optional">Notes</mbsc-textarea>
            </div>
        </mbsc-form>
    </form>
    
    <!--<ion-list>
        <form [formGroup]="addAskForm">
            <ion-item-group>
                <ion-item detail-push (click)="selectCompany()">
                    <ion-label fixed>Company</ion-label>
                    <ion-note item-content>{{addAskForm.controls['company'].value.companyName}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Stations</ion-label>
                    <ion-select item-content formControlName="stations" interface="action-sheet" multiple="true">
                        <ion-option *ngFor="let station of (sharedService.marketStations$ | async)" [value]="station">{{station.stationName}}</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Closing Date</ion-label>
                    <ion-datetime item-content placeholder="Date" displayFormat="MMM DD YYYY" formControlName="closeDate"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Amount</ion-label>
                    <ion-input text-right item-content formControlName="amount" type="number" placeholder="0"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Months</ion-label>
                    <ion-input text-right item-content formControlName="months" type="number" placeholder="Months"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Probability</ion-label>
                    <ion-select item-content formControlName="probability" interface="action-sheet">
                        <ion-option value="0">Lost</ion-option>
                        <ion-option value="10">10%</ion-option>
                        <ion-option value="40">40%</ion-option>
                        <ion-option value="60">60%</ion-option>
                        <ion-option value="90">90%</ion-option>
                        <ion-option value="100">Won</ion-option>
                    </ion-select>
                </ion-item>
            </ion-item-group>
            <ion-item-group>
                <ion-item-divider color="light">Optional</ion-item-divider>
                <ion-item no-lines>
                    <ion-input item-content type="text" placeholder="Title" formControlName="title"></ion-input>
                </ion-item>
                <ion-item  no-lines>
                    <ion-textarea placeholder="Notes" formControlName="notes"></ion-textarea>
                </ion-item>
            </ion-item-group>
        </form>
    </ion-list>
    -->

</ion-content>