page-activity-history {
    ion-content {
        background: #EFEFF4 !important;
    }
    .activityDesc {
        font-size: 1.2rem;
    }
    .activitySub {
        font-size: 1.3rem;
        margin-left: 5px !important;
    }
}