page-add-note {
    .noteHeader {
        padding: .5em 1.333334em;
        background: #efeff4;
        border-bottom: 1px solid #ccc;
        color: #6d6d72;
        font-size: 1em;
        text-transform: uppercase;
        line-height: 1.5em;
    }
}
