page-lead {
    .invalid {
        border: 1px solid #ea6153;
    }

    .typeSelect {
        max-width: 100%;
        width: 100%;
    }
    ion-content {
        background: #EFEFF4 !important;
    }
}
