page-agencies {
    .mbsc-ios.mbsc-ms-c {
        border: none !important;
    }
    .md-alfabet.mbsc-ms-item {
        min-width: 2.5em;
    }

    // .mbsc-ms-item {
    //     padding-top: 0 !important;
    //     padding-bottom: 0 !important;
    // }

    .mbsc-ms-item-sel {
        font-weight: bold;
    }
    #searchLabel {
        color: #3498db !important;
    }
}