<ion-header>
    <ion-navbar color="agenciesTopHeader">
        <button ion-button menuToggle>
            <ion-icon name="apps"></ion-icon>
        </button>
        <ion-title>Agencies</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="toggleSearchBar()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar primary *ngIf="showSearchBar">
        <ion-searchbar #searchbar *ngIf="showSearchBar" [(ngModel)]="searchText" (ionInput)="searchThis($event)" (ionCancel)="cancelSearch($event)" (ionClear)="clearSearch($event)" [showCancelButton]="true">
        </ion-searchbar>
    </ion-toolbar>
    <ion-toolbar primary *ngIf="showSearchBar" id="searchToolbar">
        <mbsc-form>
            <label id="searchLabel">
                Conditions
                <select [(ngModel)]="searchCondition" (change)="conditionChanged($event)" data-icon="line-params" mbsc-select [mbsc-options]="searchSettings">
                    <option value="0">None</option>
                    <option value="1">Priority</option>
                    <option value="2">Overdue</option>
                    <option value="3">Has Next</option>
                    <option value="4">No Next</option>
                </select>
            </label>
        </mbsc-form>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-group *ngFor="let group of groupedList">
        <ion-item-divider class="groupDivider" [id]="group.letter" sticky>{{group.letter}}</ion-item-divider>
        <button ion-item *ngFor="let account of group.accounts" (click)="itemTapped($event, account)">
            {{account.companyName}}
        </button>
    </ion-item-group>
</ion-content>