<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div #map id="map" style="height:35%;"></div>

    <mbsc-form [options]="formSettings">
        <div class="mbsc-form-group">
            <div class="mbsc-form-group-title"><ion-icon name="home"></ion-icon> Profile</div>
            <ion-item (click)="editCompany()" detail-push>
                <h2 class="companyNameText">{{accountDetails?.companyName}}</h2> 
                <a (click)="cancel($event)" href="http://maps.apple.com/maps?q={{accountDetails.address1}}%20{{accountDetails.city}}%20{{accountDetails.state}}%20{{accountDetails.zipCode}}"> 
                    <p *ngIf="accountDetails?.address1">{{accountDetails?.address1}}</p>
                    <p *ngIf="accountDetails?.address2">{{accountDetails?.address2}}</p>
                    <p *ngIf="accountDetails?.city">{{accountDetails?.city}}, {{accountDetails?.state}} {{accountDetails?.zipCode}}</p>
                    </a> 
                <p *ngIf="accountDetails?.phone" (click)="cancel($event)"><ion-icon name="call"></ion-icon> <a href="tel:{{accountDetails?.phone}}">{{accountDetails?.phone}}</a></p>
            </ion-item>
        </div>
    </mbsc-form>
</ion-content>